html{
    height: 100%;
}
body{
    margin: 0;
    height: 100%;
    background-image: url("background.jpg");
}
button:hover{
    cursor: pointer;
}
article{
    height: 100%;
}
article header{
    height: 15%;
    background-color: rgba(204,204,255,0.8);
}
article header *{
    margin: 0;
}
article header h1{
    text-align: center;
    font-size: 2.25em;
    color: rgb(159,12,19);
    padding-top: 20px;
}
article header div{
    float: left;
}
article header div p{
    color: chocolate;
}
article article{
    height: 85%;
}
#main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.naviContent{
    width: 14%;
    height: 100%;
    background-color: rgba(134, 195, 245, 0.85);
}
.navigator{

    font-size: 0.75em;
}
.navigator *{
    width: 93%;
    font-size: 2em;
    padding: 20px;
    border-radius: 10px;
    margin: 0 10px 10px 5px;
    text-align: center;
}
.navigator button:focus{
    background-color: white;
    color: rgb(255,162,93);
}
.navigator button:hover{
    background-color: white;
    color: rgb(255,162,93);
}
.headNavi{
    margin-top: 5px;
    border: 2px solid rgb(255,162,93);
    color: white;
    background-color: rgb(255,162,93);
}
#content{
    width: 86%;
    background-color: rgba(213,213,213,0.9);
}
#content table{
    font-size: 24px;
}
#content table tr td input{
    width: 150px;
    margin-right: 20px;
    margin-bottom: 10px;
    border: #466BAF solid 1px;
    border-radius: 5px;
    height: 35px;
    font-size: 20px;
}
#content table tr td input:hover{
    border: #466BAF solid 3px;
}
#content table tr td input:focus{
    border: #466BAF solid 3px;
}
.subNavi0{
    display: none;
    margin-top: 0;
    padding: 2px;
    border: solid #466BAF;
    background-color: #466BAF;
    color: white;
}
.subNavi0:hover{
    background-color: white;
    color: #466BAF;
}
.subNavi0:focus{
    background-color: white;
    color: #466BAF;
}
.subNavi1{
    display: none;
    margin-top: 0;
    padding: 2px;
    border: solid #466BAF;
    background-color: #466BAF;
    color: white;
}
.subNavi1:hover{
    background-color: white;
    color: #466BAF;
}
.subNavi1:focus{
    background-color: white;
    color: #466BAF;
}
.subNavi2{
    display: none;
    margin-top: 0;
    padding: 2px;
    border: solid #466BAF;
    background-color: #466BAF;
    color: white;
}
.subNavi2:hover{
    background-color: white;
    color: #466BAF;
}
.subNavi2:focus{
    background-color: white;
    color: #466BAF;
}
#contentButton{
    width: 150px;
    cursor: pointer;
    height: 60px;
    font-size: 24px;
    border-radius: 10px;
    border: solid 1px #466BAF;
    background-color: #466BAF;
    color: white;
}
#contentButton:hover{
    color: #466BAF;
    background-color: white;
}
#contentButton:focus{
    color: #466BAF;
    background-color: white;
}
#table *{
    font-size: 24px;
    border: solid 2px black;
}